html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: white !important;
    color: black;
    margin: 0;
}

section {
    background-color: white;
}

.link-button {
    background-color: black !important;
    border-radius: 0 !important;
    display: flex;
    gap: 6px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    color: white;
}

.link-button:hover {
    background-color: rgb(42, 42, 42) !important;
}

.link-button .arrow {
    background-image: url('data:image/svg+xml,<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.46566L8.25079 5.39296M5.55351 2L9 5.4651L5.48408 9" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/></svg>');
    height: 10px;
    width: 10px;
    display: inline-block;
    align-self: center;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    transition: 0.5s;
    background-color: transparent;
}

#header .image {
    padding-left: 10%;
    align-self: flex-end;
}

#header .image img {
    width: 12vh;
    transition: 0.5s;
}

#header .menu {
    padding-right: 10%;
    align-self: center;
}

#header .menu .item a {
    color: white !important;
    font-size: 17px !important;
    font-style: normal !important;
    line-height: normal !important;
    transition: 0.3s;
}

#header .menu .item a:hover {
    font-weight: bold;
}




/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    overflow: hidden; /* Hide overflow */
}

#hero video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Ensure video covers the entire area */
    width: 100%;
    height: auto; /* Auto height to maintain aspect ratio */
}

#hero .text {
    font-size: 70px;
    font-weight: bold;
    line-height: 125%;
    color: white;
    position: absolute;
    bottom: 15vh;
    left: 0;
    padding-left: 100px;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

#about img {
    width: 50%;
}

#about .description {
    width: 30%;
    font-size: 22px;
    align-self: center;
    color: #4D5053;
}

#about .text {
    font-size: 70px;
    font-weight: bold;
    line-height: 125%;
    color: black;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

#services {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex: 1;
    background: linear-gradient(
        to right,
        white 0%,
        white 20%,
        #D5C9C545 20%,
        #D5C9C545 100%
      );
}

#services div {
    width: 50%;
}

#services .description .title {
    font-size: 70px;
    font-weight: bold;
    line-height: 125%;
    color: black;
    margin: 0;
}

#services .description .text {
    font-size: 22px;
    align-self: center;
    color: #4D5053;
    width: 80%;
    padding-bottom: 10px;
}

#services .description .link-button {
    width: max-content;
    font-size: 17px;
    transition: 0.3s;
    padding: 10px;
    text-decoration: none;
}

#services .images div {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
}

#services .images div img {
    width: 100%;
}

#services .images div p {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    width: max-content;
}

/*--------------------------------------------------------------
# Areal
--------------------------------------------------------------*/

#areal {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}

#areal .title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

#areal #gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

#areal #gallery img {
    width: 30%;
    transition: 0.2s;
}

#areal #gallery img:hover {
    opacity: 0.8;
    cursor: pointer;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    margin-top: 100px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    background: linear-gradient(
        to right,
        #D5C9C545 0%,
        #D5C9C545 25%,
        white 25%,
        white 100%
      );
}

#contact .info {
    width: 50%;
}

#contact .info .title {
    font-size: 70px;
    font-weight: bold;
    line-height: 125%;
    color: black;
    margin: 0;
}

#contact .info .text {
    font-size: 22px;
    align-self: center;
    color: #4D5053;
    width: 80%;
    padding-bottom: 10px;
}

#contact .info .social {
    margin-left: -3px;
    display: flex;
    gap: 10px;
}

#contact .info .social .fb {
    background-color: black;
    -webkit-mask: url(/assets/img/fb.svg) no-repeat center;
    mask: url(/assets/img/fb.svg) no-repeat center;
    width: 32px;
    height: 32px;
    display: block;
    transition: 0.2s;
}

#contact .info .social .fb:hover {
    background-color: #0866ff;
    cursor: pointer;
}

#contact .info .social .ig {
    background-color: black;
    -webkit-mask: url(/assets/img/ig.svg) no-repeat center;
    mask: url(/assets/img/ig.svg) no-repeat center;
    width: 32px;
    height: 32px;
    display: block;
    transition: 0.2s;
}

#contact .info .social .ig:hover {
    background-color: #dc4a6b;
    cursor: pointer;
}

#contact .info a {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #4D5053;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 15px;
    gap: 10px;
    transition: 0.2s;
}

#contact .info a:hover {
    color: black;
}

#contact form .row, #contact form .row2 {
    display: flex;
    gap: 10%;
    padding-bottom: 20px;
}

#contact form .row div, #contact form .row2 div {
    display: grid;
    width: 326px;
}

#contact .consent {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

#contact .consent label {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width: 1000px;
}

#contact .consent label a {
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    color: black;
}

#contact .consent label a:hover {
    transition: 0.3s;
    color: rgb(86, 86, 86);
}

#contact form label {
    color: #C8C8C8;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

#contact form input, #contact form select {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

#contact form input:focus, #contact form select:focus {
    outline: none;
}

#contact form input::placeholder {
    color: #C8C8C8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

#contact form select {
    cursor: pointer;
    padding: 1px 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M5 6h10l-5 9-5-9z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding-right: 2rem;
}

#contact form select:required:invalid {
    color: #C8C8C8;
}

#contact form select option {
    color: #000;
}

#contact form button {
    width: 100px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#contact form button:hover {
    background-color: #313131;
    transition: 0.3s;
}

#contact .address {
    display: flex;
    gap: 10%;
    padding-bottom: 100px;
    padding-top: 50px;
}

#contact .address h5 {
    color: #C8C8C8;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin: 0;
}

#contact .address a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

@media only screen and (max-width: 1200px) {
    #contact form .row2 {
        flex-direction: column;
        gap: 20px;
    }
    #contact .address {
        flex-direction: column;
        gap: 30px;
    }
}

@media only screen and (max-width: 767px) {
    #contact form .row {
        flex-direction: column;
        gap: 20px;
    }
    #contact form .row div, #contact form .row2 div {
        max-width: 300px;
        width: auto;
    }
    #contact form select {
        width: 100%;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    padding: 20px 0;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
    color: white;
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: space-between;
}

#footer p {
    margin: 0;
}

#footer .links {
    display: flex;
}

#footer a {
    text-decoration: none;
    transition: 0.3s;
    color: white;
}

#footer a:hover {
    color: #d5d5d5;
    transition: 0.3s;
}

#footer .links span {
    padding: 0 5px;
}

@media only screen and (max-width: 767px) {
    #footer {
        flex-direction: column;
        gap: 20px;
    }
}

#conti {
    text-decoration: none;
  }

  #conti.underline {
    text-decoration: underline;
  }




/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-height: 80vh;
    max-width: 80vw;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
    .prev, .next {
        background-color: transparent;
        padding: 0;
    }
    .prev:hover, .next:hover {
        background-color: transparent;
    }
}
